# IDEs and Editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# Credentials and sensitive files
.env
.env.*
*.pem
*.key
*.ovpn

# Temporal / Logs
*.log
tmp/
temp/
